/*  your css code here. If applicable */
body{
	background-color:#f5f5f5;
	padding:30px;
}
p{
	background-color:white;
	padding:30px;
	border:1px white solid;
}
span{
	text-align:center;
	font-style:italic;
	float:right;
}
